<div class="card text-dark bg-info mb-3" style="max-width: 25rem;">
    <div class="card-header">About iMatch &#128149;</div>
    <div class="card-body">

        <p class="card-text">iMatchHearts is an online dating platform for singles looking for a real
            connection.
        </p>
        <p> Are you
            tired of swiping left and right and still still not finding the perfect match? are you tired of
            getting Ghosted?
        </p>
        <p>Say Less Amour! we got you. Join iMatchHearts today and find that soul connection</p>
        <p class="card-text"><small class="text-muted">By Sandrine B. Nubia</small></p>
    </div>
</div>