<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="logo.jpeg" alt="logo">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">About Us</h5>
                <p class="card-text">iMatchHearts is an online dating platform for singles looking for a real
                    connection.
                </p>
                <p> Are you
                    tired of swiping left and right and still still not finding the perfect match? are you tired of
                    getting Ghosted?
                </p>
                <p>Say Less Amour! we got you. Join iMatchHearts today and find that soul connection</p>
                <p class="card-text"><small class="text-muted">By Sandrine B. Nubia</small></p>
            </div>
        </div>
    </div>
</div>