<div class="card text-dark bg-info mb-3" style="max-width: 25rem;">
    <div class="card-header">About iMatch &#128149;</div>
    <div class="card-body">

        <p class="card-text">iMatchHearts is an online dating platform for people seeking real connections.
        </p>
        <p> Are you sick of swiping left and right and still finding the wrong match? Are you tired of being Ghosted?
        </p>
        <p>Say Less Amour! iMatchHearts has got you. Join now and find that soul connection.</p>
        <p class="card-text"><small class="text-muted">By Sandrine B. Nubia</small></p>
    </div>
</div>