<h1>Hello Amour!</h1>
{{#if user}}
<p>Welcome to I Match hearts! take a look aroung and let us know if you need any help</p>
{{else}}
<a href="/auth/facebook">
    <button type="button" class="btn btn-primary btn-lg">Sign in with Facebook</button>
</a>
{{/if}}