<h1>Thank you for contacting I Match Hearts!</h1>
<p>You are important to us. One of your expert will reach back to you via email as soon as possible</p>
<a href="/contact"><button class="btn btn-success">Send Another Message!</button></a>