.center{
    text-align: center;
}
.green{
    color: green;
}
.red{
    color: red;
}
body {
    background-color: #FFF0F5;
    background-image: url("../img/bcg.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 2000px 1000px;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
  }
  
  main {
    padding: 1rem;
    margin: auto;
  }
  
  .card {
    list-style: none;
    margin-top: 40px;
    margin-bottom: 45px;
    margin: 10px;
    padding: 20px;
    margin: auto;
    width: 40rem;
    max-width: 90%;
  }

  .head{
    color: rgb(185, 15, 15);
    font-family: cursive;
  }