.center{
    text-align: center;
}
.green{
    color: green;
}
.red{
    color: red;
}
body {
    background-color: #FFF0F5;
    background-image: url("bcg.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 2000px 1000px;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
  }
  
  main {
    padding: 1rem;
    margin: auto;
  }
  
  .card {
    list-style: none;
    margin: 10px;
    padding: 30px;
    margin: auto;
    width: 40rem;
    max-width: 90%;
  }

  .head{
    color: white;
    font-family: cursive;
  }